{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Inicio de sesión</h1>
    {% if user.is_authenticated %}
        <div><p>Parece que ya has iniciado sesión.</p></div>
        <div class="d-flex align-items-center justify-content-start gap-2">
            <a href="{% url 'tierra_media:index' %}" class="text-decoration-none">Volver a Inicio</a>
            <form action="{% url 'tierra_media:logout' %}" method="POST" class="m-0 p-0 d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-decoration-none p-0 m-0">Cerrar sesión</button>
            </form>
        </div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar sesión</button>
        </form>
    {% endif %}
{% endblock %}