{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .container-fluid {
            width: 100vh;
            height: 100vh;
            background-image: url("{% static "dormitorio.png" %}");
        }
        img {
            width: 400px;
        }
        .icons {
            width: 50px;
        }
        #items {
            visibility: hidden;
        }
        .btn {
            background-color: gray;
        }
        * {
            font-size: 25px;
        }
    </style>
</head>
<body>
<div class="container-fluid d-flex align-items-center w-100 overflow-hidden p-0">
    <img src="{% static "backpack.png" %}" id="backpack" class="position-absolute top-100 start-50 translate-middle">
    <div class="container d-flex justify-content-center" id="items">
        <div class="row gap-4 text-center">
            {% if weapons %}
                {% for weapon in weapons %}
                    <div class="col-3">
                        <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="weapon" value="{{ weapon.id }}">
                                <button type="submit" class="btn btn-link text-decoration-none p-0">
                                        <img src="{{weapon.icon.url}}" class="icons">
                                </button>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}

            {% if armors %}
                {% for armor in armors %}
                    <div class="col-3">
                        <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="armor" value="{{ armor.id }}">
                                <button type="submit" class="btn btn-link text-decoration-none p-0">
                                            <img src="{{armor.icon.url}}" class="icons">
                                </button>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
    <script>
        backpack = document.getElementById('backpack')
        items = document.getElementById('items')
        backpack.addEventListener('click', ()=>{
            items.style.visibility = 'visible'
            console.log()
        })
        backpack.addEventListener("dblclick", ()=>{
            items.style.visibility = 'hidden'
        })
    </script>
</body>
</html>